.login-top {
    background: var(--login-top-background);
    height: 10vh;

}

.login-middle {
    background: var(--login-middle-background);
    padding: 2rem;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
}

.begin-font {
    color: white;
}

.login-bottom {
    background: var(--login-bottom-background);

    height: 10vh;
}

.divider {
    position: relative;
    width: 1px;
    height: 100px;
    margin: 0 10px; /* adjust margin as needed */
  }
  
  .divider::before {
    content: "";
    position: absolute;
    top: 1;
    left: 43rem;
    width: 100%;
    height: 30rem;
    background: linear-gradient(to bottom, rgba(233, 221, 221, 0), rgb(240, 234, 234), rgba(237, 230, 230, 0)); 
  }