.chess-icon {
    border: solid 1px var(--icon-border);
    border-radius: 5px;
}

.icon-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 10px;
    width: 260px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.icon-container-clicked {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 10px;
    width: 260px;
    background: linear-gradient(to right, #1645A7, #5071BF);
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.icon-name {
    color: white;
}

.icon-wrapper {
    border-right: none;
    border-radius: 5px;
    width:250px;
    position: relative;
}

.password-input {
    position: absolute;
    top: 45px;
    right: -13px;
    width: 200px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}

.password-input:focus {
    outline: none;
}