.chess-icon {
    border: solid 1px var(--icon-border);
    border-radius: 5px;
}

.icon-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 10px;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
}

.icon-container-clicked {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 10px;
    width: 200px;
    background: linear-gradient(to right, #1645A7, #5071BF);
    padding: 5px;
    border-radius: 5px;
}

.icon-name {
    color: white;
}

.icon-wrapper {
    /* border: solid 2px #5071BF; */
    /* padding: 5px; */
    border-right: none;
    /* background: #1645A7; */
    border-radius: 5px;
    width:200px;
}