:root {
    --login-top-background: #041954;
    --login-middle-background: #597EDD;
    --login-bottom-background: #192377;
    --icon-border: #F9CD2D;
}

@font-face {
    font-family: Tahoma;
    src: url('./assets/fonts/TahomaRegularFont.ttf');
}

* {
    font-family: Tahoma;
}